body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 100% ;
    height: 100vh;
    margin: 0;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/84b453b4-0d46-4f2c-bd44-81aa6c19c6b5/c548520c-3aaf-409c-bdce-11393df71cf1/BR-pt-20201116-popsignuptwoweeks-perspective_alpha_website_small.jpg');
}

.len {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
}

figure {
    margin: 0;
}

figure:hover {
    cursor:pointer;
}

.logo-netflix {
    width: 13%;
    margin-left: 2.5em;
}


h1 {
    color: #fff;
}

.form {
    box-sizing: border-box;
    display: block;
    background-color: rgba(0, 0, 0, .75);
    width: 450px;
    padding: 60px 68px 40px;
    margin: 0 auto;
    
}

input {
    display: block;
    height: 2.5em;
    width: 95%;
    text-align: left;
    margin: 0 auto;
    padding: 0.5em;
    margin-bottom: 2em;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 4px;
    background-color: #333333;
    color: #fff;
    font-size: 16px;
    
}



input:focus::placeholder {
    font-size: 12px;
    transition: all 0.4s;

}

input:focus:invalid {
    border-bottom: #e87c03 solid 2px;
   
}

input[type="email"]:invalid + span::after {
    content: 'Informe um email ou número de telefone válido.';
    color: #e87c03;
    font-size: 12px;
    
}

input[type="password"]:invalid + span::after {
    content: 'A senha deve ter entre 4 e 60 caracteres.';
    color: #e87c03;
    font-size: 12px;
    
}

span {
    position: relative;
    bottom: 1.6em;
}


button {
    height: 3.5em;
    width: 100%;
    background-color: #e50914;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    
}


.remember {
    position: relative;
}

.remember_check {
    width: 1.0em;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
   
    
}

.remember_label {
    width: 1.0em;
    color: #595959;
    display: inline;
    font-size: 13px;
    margin: 4px;
   
}

a {
    color: #595959;
    font-size: 13px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 35%
}

a:hover {
    text-decoration: underline;
}



